# frozen_string_literal: true

# Background job that runs <%= robot_class_name %> asynchronously.
#
# @example Enqueue from a controller
#   <%= class_name %>Job.perform_later(
#     message:   params[:message],
#     thread_id: session_id
#   )
#
class <%= class_name %>Job < RobotLab::Job
  queue_as :<%= queue_name %>

  robot_class <%= robot_class_name %>
end
