# frozen_string_literal: true

# <%= class_name %> Robot
#
# <%= robot_description %>
#
class <%= class_name %>Robot
  SYSTEM_PROMPT = <<~PROMPT
    You are a helpful <%= class_name.titleize %> assistant.

    Your role is to assist users with their requests in a friendly and efficient manner.
  PROMPT

  def self.build(**options)
    RobotLab.build(
      name: "<%= file_name %>",
      description: "<%= robot_description %>",
      system_prompt: SYSTEM_PROMPT,
      local_tools: tools,
      **options
    )
  end

  def self.tools
    [
      <%- robot_tools.each do |tool| -%>
      # <%= tool.camelize %>,
      <%- end -%>
    ]
  end
end
