# frozen_string_literal: true

require "test_helper"

class <%= class_name %>RobotTest < ActiveSupport::TestCase
  def setup
    @robot = <%= class_name %>Robot.build
  end

  test "robot has correct name" do
    assert_equal "<%= file_name %>", @robot.name
  end

  test "robot has description" do
    assert_not_nil @robot.description
  end

  test "robot has system prompt" do
    assert_not_nil @robot.system_prompt
  end
end
